<html dir="rtl">
    {% if not user.is_authenticated %}
    <a href="{% url 'login' %}">ورود</a> 
    {% else %}
    <h2>hi {{user.first_name}} {{user.last_name}}</h2>
    <h3><a href="{% url 'logout' %}">خروج</a></h3>
    <h3><a href="{% url 'add_daneshjoo' 10 %}">اضافه کردن دانشجو</a> </h3>
    <h3><a href="{% url 'add_daneshjoo2' %}">اضافه کردن همزمان چند دانشجو</a> </h3>
    {% endif %}
    <hr>
    <h1>دانشجو ها</h1>
    {% for d in daneshjoo%}
    <a href="{% url 'add_friend' d.id %}"><h1>{{d.id}}.{{d.name}}</h1></a>
    {% endfor %}


</html>